.ecustScore{
    float:left;
    width:40%;
    margin-left: 5%;
    margin-right:5%;
}

.luebeckScore{
    float: right;
    width: 40%;
    margin-left: 5%;
    margin-right:5%;
}

/* 表格居中 */
table{
    margin:auto;
}

td{
    max-width: 200px;
    min-width: 180px;
    white-space: nowrap;text-overflow: ellipsis;overflow: hidden;
}

/* auto-scaling */
@media screen and (max-width:1200px){
    .ecustScore, .luebeckScore{
        width: 90%;
        margin-left: 5%;
        margin-right:5%;
    }
    .luebeckScore{
        margin-top:20px;
    }

    .courseAdd{
        text-align: center;
    }
}


.addNum{
    width:30px;
}

.splitLine{
    margin-top: 5px;
    margin-bottom: 5px;
}


.subTitle{
    font-size: 200%;
    height: 90px;
}

#caption{
    margin-left: 35%;
}

#homeBtn{
    margin-left: 5%;
    background: url("images/home.png") no-repeat;
    width: 30px;
    height: 30px;
    border: 0;

    cursor: pointer;
}

