.ecustScore{
    float:left;
    width:40%;
    margin-left: 5%;
    margin-right:5%;
    
}

.luebeckScore{
    float: right;
    width: 40%;
    margin-left: 5%;
    margin-right:5%;
}

#btnGroup{
    margin-top: 20px;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
}

/* auto-scaling */
@media screen and (max-width:1200px){
    .ecustScore, .luebeckScore{
        width: 90%;
        margin-left: 5%;
        margin-right:5%;
    }
    .luebeckScore{
        margin-top:20px;
    }
    /* 表格居中 */
    table{
        margin:auto;
    }
    .courseAdd{
        text-align: center;
    }
}

.courseAdd{
    margin-top: 3%;
}
.courseAdd span{
    margin-right: 5px;
}
.addNum{
    width:30px;
}

.splitLine{
    margin-top: 5px;
    margin-bottom: 5px;
}

.box{
    display: none;
    width: 200px;
    height: auto;
    background:#FFFFDF;
    border: 1px solid #333;
    padding: 12px;
    text-align: left;
    position: absolute;

}

.subTitle{
    font-size: 200%;
    height: 90px;
}

.editBtn{
    background: url("editBtn.png") no-repeat;
    width: 25px;
    height: 25px;
    border: 0;   
}
.addBtn{
    background: url("addBtn.png") no-repeat;
    width: 25px;
    height: 25px;
    border: 0;
}
.deleteBtn{
    background: url("deleteBtn.png") no-repeat;
    width: 25px;
    height: 25px;
    border: 0;   
}

.resetBtn{
    background: url("resetBtn.png") no-repeat;
    width: 25px;
    height: 25px;
    border: 0; 
}

.infoBtn{
    background: url("information.png") no-repeat;
    /* width: 25px;
    height: 25px; */
    border: 0;
    text-align: center;

}

button{
    cursor: pointer;
}

/* #calculateBtn{
    border-radius: 15px;
    background-color: yellow;
    height: 40px;
    width:150px;

} */